html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(0.79, #e040fb));
  background-image: -o-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -moz-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -webkit-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -ms-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: linear-gradient(to right bottom, #FFFFFF 0%, #e040fb 79%);
  background-repeat: no-repeat;
  background-attachment: fixed; }

.container {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  padding: 100px;
  border-radius: 10px;
  margin-bottom: 100px;
  color: #888; }

nav {
  height: 100px;
  width: 100%;
  margin-bottom: 100px;
  padding-top: 12px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(0.79, #e040fb));
  background-image: -o-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -moz-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -webkit-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -ms-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: linear-gradient(to right bottom, #FFFFFF 0%, #e040fb 79%);
  background-repeat: no-repeat;
  background-attachment: fixed; }
  nav .nav-wrapper {
    width: 100%; }
  nav .brand-logo {
    margin-left: 300px; }
  nav .hide-on-med-and-down {
    margin-right: 300px; }
  nav .brand-logo {
    font-family: "Nunito", sans-serif; }
    nav .brand-logo span {
      font-family: "Nunito", sans-serif; }

.form a {
  color: white; }

h1, h2 {
  color: #e040fb;
  text-transform: lowercase;
  opacity: .7;
  font-family: "Nunito", sans-serif; }
