@import "bourbon/bourbon";
@import "neat/neat";

// VARIBLES
$p: #e040fb;
$w:white;
$n: 'Nunito', sans-serif;
$os:'Open Sans', sans-serif;
$lg: lightgrey;
// END

// MIXINS

// END

body {

  // GRADIENT
  background-image: -webkit-gradient(
  linear,
  left top,
  right bottom,
  color-stop(0, #FFFFFF),
  color-stop(0.79, #e040fb)
  );
  background-image: -o-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -moz-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -webkit-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -ms-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: linear-gradient(to right bottom, #FFFFFF 0%, #e040fb 79%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  // END
}

.container {
  font-family:$os;
  background-color: $w;
  padding:100px;
  border-radius: 10px;
  margin-bottom:100px;
  color: #888;
}

nav {
  height:100px;
  width:100%;
  margin-bottom:100px;
  padding-top:12px;


  .nav-wrapper {
    width:100%;
  }

  .brand-logo {
    margin-left:300px;
  }

  .hide-on-med-and-down {
    margin-right: 300px;
  }

  // GRADIENT
  background-image: -webkit-gradient(
  linear,
  left top,
  right bottom,
  color-stop(0, #FFFFFF),
  color-stop(0.79, #e040fb)
  );
  background-image: -o-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -moz-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -webkit-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: -ms-linear-gradient(right bottom, #FFFFFF 0%, #e040fb 79%);
  background-image: linear-gradient(to right bottom, #FFFFFF 0%, #e040fb 79%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  // END

    .brand-logo {
      font-family: $n;

      span {
        font-family: $n;
      }
    }
}

.form a {
  color: $w;
}

h1, h2 {
  color: $p;
  text-transform:lowercase;
  opacity:.7;
  font-family:$n;
}