

  <div class="row login" ng-submit="userSignin(user)">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="username" ng-model="user.username">
          <label for="username">Username</label>
        </div>
        <div class="input-field col s12">
          <input type="password" class="validate" id="password" ng-model="user.password">
          <label for="password">Password</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Login</button>
      <a class="waves-effect waves-light btn" href="/#register">Register</a>
    </form>
    <h4 ng-show="showError">{{ errorMssg }}</h4>
  </div>